:root {
    --red: #E55812;
    --orange: #FF9B42;
    --yellow: #F2BB05;
    --lblue:#5395d2;
    --blue: #386FA4;
    --navy: #133C55;
    --black: #0D1821;
    --grey: #617f9b;
    --white: #FAFAFA;
}

html {
    scroll-behavior: smooth;
    margin: 0;
}

.background-wrapper {
    background: linear-gradient(to top, var(--navy), #112232);
    color: var(--white);
    
    padding-top: 6em;
    padding-bottom: 4em;
    margin: 0;

    width: 100%;
    text-align: center;
}

.background-wrapper h1 {
    font-size: 6em;
    margin-bottom: 0.6em;
    transition: text-shadow 0.3s ease;
}

.background-wrapper h1:hover {
    text-shadow: 0.05em 0.1em 0.1em rgba(0, 0, 0, 0.9);
}

.background-wrapper h2 {
    width: 75vw;
    margin: 0 auto;
    line-height: 1.8;
    text-shadow: 0 0.05em 0.2em rgba(0, 0, 0, 0.9);
}

.info-block {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 0 auto;
}

.left-part {
    width: 25vw;
}

.infographic {
    width: 25vw;
    aspect-ratio: 1/1;

    background-image: url('../images/modern.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 1em;
}

.source-info {
    color: rgb(80, 80, 80);
}

.source-info:hover {
    color: rgb(0, 0, 0);
}

.source-info .arrow {
    font-size: 1.2em;
    transition: transform 0.3s ease;
    color: inherit;

    transition: all 0.3s;
}

.source-info:hover .arrow {
    transform: scale(1.3);
}

.source-info a {
    text-decoration: none;
    box-shadow: inset 0 -0em 0 0 rgb(0, 0, 0);
    color: inherit;
    cursor: pointer;

    transition: all 0.3s;
}

.source-info:hover a {
    box-shadow: inset 0 -0.1em 0 0 rgb(0, 0, 0);
}

.right-part {
    width: 45vw;
    margin: 0;
}

.right-part h1 {
    padding-bottom: 0.5em;
    margin: 0;
}

.right-part p {
    font-weight: 600;
    padding-bottom: 1.5em;
    text-indent: 3em;
    margin: 0;
}

.info-group {
    padding-top: 4vw;
    padding-bottom: 4vw;
    width: 100%;
    margin: 0;
}

#problem {
    background-color: var(--lblue);
    margin: 0;
}

#cause {
    background-color: var(--blue);
    margin: 0;
}

#effects {
    background-color: var(--grey);
    margin: 0;
}

#solution {
    background-color: var(--lblue);
    margin: 0;
}

#future {
    background-color: var(--blue);
    margin: 0;
}


#sources-section {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 5em 0;
    margin: 0;
}

.source {
    margin-bottom: 2em;
    width: 60%;
    margin: 0;
}

.source a {
    position: relative;
    left: 20vw;
    color: inherit;

    margin-bottom: 2em;
}

.source p {
    max-width: 83.33%;
    position: relative;
    left: 23vw;
}